# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.sln
*.sdf
*.suo
*.opensdf
*.opendb
*.VC.db
*.VC.opendb

# Visual Studio
.vs/
*.user
*.vcxproj.user
*.suo
*.sdf
*.opensdf
*.opendb

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# OS
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml

# Temporary Files
*.tmp
*.log
*.swp
*.bak

# Crash reports
CrashReportClient/
